.libs
*.lo
*.o
delete1
index1
index_facets
index_filters
index_ranges
index_ranges2
index_values_with_geo
search1
search_facets
search_filters
search_filters2
search_ranges
search_ranges2
search_sorting
search_sorting2
search_sorting3
search_synonyms
